<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>TRON 3X</title>
     <link rel="stylesheet" href="styles/odometer-theme-digital.css">
     <link rel="stylesheet" href="styles/stylesdee2.css?1598270113">
     <script src="scripts/fontawesome.js" crossorigin="anonymous"></script>
     <link rel="icon" href="images/logo-blac.png" type="image/png" />
     <link rel="stylesheet" href="styles/bootstrap.min.css">
     <meta name="upline" content="TKs9kuAZcb2oJ18K2WZjatg4YAcL9Pu1Ar" />
     <meta name="sc.balance" content="1" />
     <style>
          [v-cloak] {
               display: none;
          }          
     </style>
</head>
<body>
     <main id="App" v-cloak>     		
          <section class="section-top" style="background-image: url(images/bg_20.jpg);background-repeat:no-repeat;color:#FFF !important">          	
            <div class="header__wrap">
            	<div class="header__item" v-if="tron.account">                	
                    <div class="header__value">
                    	Your Tron wallet: <strong><span v-text="tron.account"></span></strong>
                    </div>
                </div>
            </div>
            <div class="nav">
                    <div class="logo">                    	
                         <a href="index.html"><img class="top-heading" src="images/logo.png"></a>
                    </div>
					<div class="nav-toggle">
						<i class="fas fa-bars fa-2x"></i>
					</div>
                    <div class="nav-links">
						 <div class="cross">X</div>
                         <ul>
                              <li class="nav-link"><a class="active" href="#join">Join</a></li>
                              <li class="nav-link"><a href="#contract">contract</a></li>
                              <li class="nav-link"><a href="#Personal">personal</a></li>
                              <li class="nav-link"><a href="#Statistics">Statistics</a></li>
                              <li class="nav-link"><a href="#organization">organization</a></li>
                         </ul>
                    </div>
               </div>               
            <div class="container slide-up text-center middle" v-show="tab == 'main'" style="">
                    <p class="head" style="color:#FFF">Welcome to the world's first <br>
                         Decentralized community support fund on<br> TRON BLOCKCHAIN.</p>
                    <div class="anim">
                         <div class="counter-wrapper">
                              <span>$</span>
                              <div class="odometer" ref="odometer">{{ contract.balance * rates.trx }}</div>
                         </div>
                    </div>
                    <p style="font-size:20px;font-weight:bold;">Most transparent, p2p, decentralized  support system in the world.</p>
                    <div class="menu">
                         <div>
                         	  <button class="button" @click.prevent="tab = 'tutorial'">
                                   <div class="button-content">How to join</div>                                   
                              </button>
                         </div>
                         <div>
                         		<button class="button" @click.prevent="tab = 'guide'">
                                   <div class="button-content">Guide</div>
                              </button>
                         </div>
                         <div>
                         	<button class="button" @click.prevent="getPoolTopInfo(); tab = 'top'">
                                   <div class="button-content">Top 4 sponsors</div>
                              </button>
                          </div>
                    </div>
               </div>         
          </section>
          
          <section class="section" v-show="tab == 'guide'">
               <div class="page">
                    <a class="back-btn" href="index.html" @click.prevent="tab = 'main'">Back</a>
                    <h3>Guide</h3>
                    <p>The <a href="/">TRON 3X</a> Smart Contract is designed to provide everyone with an independent, financial support fund, based on Blockchain and Smart Contract technology.</p>
                    <p>Any participant can contribute TRX towards the community fund and supporting <a href="/">TRON 3X</a> community members, by doing so the participant activates the contract code and will receive support back from other community members.</p>
                    <p><a href="/">TRON 3X</a> is 100% decentralized and a community-based project; Meaning there are no guarantee nor additional profits made in the system, all that you receive from <a href="/">TRON 3X</a> is based upon your own and the community efforts as this is a P2P support model where you support others and others support you.</p>
                    <p><a href="/">TRON 3X</a> can be viewed as a decentralized “third party” which insures fairness, transparency and justice for all according to the algorithm code.</p>
                    <p>There are no mediators or intermediaries, no owners, no company or human interaction, effectively guaranteeing the fairness of all participating partners and partners funds according to the rules of the Smart Contract.</p>
                    <p>It is the most reasonable, safest, and best cutting-edge financial SUPPORT model available at this time.</p>
                    <p>You can participate in <a href="/">TRON 3X</a> by depositing a minimum of 100 TRX to the Fund.</p>
                    <p>300% is returned in 4 ways (1 passive and 3 via marketing) when 300% is accumulated through any of the 4 ways, a new deposit must be made equal or greater to continue receiving from the fund.</p>
                    <ol>
                    	<li><p>2% Daily return on your Deposit (maximum150 days) 100% Passive.</p></li>
                        <li><p>10% Direct Referral Commission for Sharing and Growing the Community Fund.</p></li>
                    	<li><p>Matching Commission on Partners Daily Income every time they make a withdrawal</p>
                        <p>1st generation 30%<br />2nd generation 10%<br />3rd generation 10%<br />4th generation
                                   10%<br />5th generation 10%<br />6th generation 8%<br />7th generation 8%<br />8th
                                   generation 8%<br />9th generation 8%<br />10th generation 8%<br />11th generation
                                   5%<br />12th generation 5%<br />13th generation 5%<br />14th generation 5%<br />15th
                                   generation 5%</p>
                              <p>1 new level is activated for each direct partner, maximum 15 levels, see below</p>
                         </li>
                         <li>
                              <p>Daily Top Referrer Pool 3%, of ALL Deposits set aside in pool, every 24 hour 10% of the
                                   pool is shared among top 4 sponsors in volume</p>
                         </li>
                    </ol>
                    <hr /><br />
                    <p>Minimum and maximum cycle limits</p>
                    <p>1st cycle, minimum deposit 1 000 TRX, up to 100 000 TRX.</p>
                    <p>2nd cycle, equal or greater than previous deposit, up to 300 000 TRX.</p>
                    <p>3rd cycle, equal or greater than previous deposit, up to 900 000 TRX.</p>
                    <p>4th cycle and beyond, equal or greater than previous deposit, up to 2 000 000 TRX.</p>
                    <hr /><br />
                    <p>IMPORTANT NOTES*</p>
                    <p><span style="color:coral">*<a href="/">TRON 3X</a></span> is a community-based project, 100% decentralized, P2P transactions through Smart
                         Contract.</p>
                    <p>*Each Deposit Cycle is 300%.</p>
                    <p>*When 300% is received, a new deposit must be made to continue earning / receiving from any of the 4 ways.</p>
                    <p>*Minimum entry is 100 TRX, open to all participants, no restrictions.</p>
                    <p>*No referrals required in order to receive. 1% pays out daily to all members, 100% passive.</p>
                    <p>*Increase the speed of your returns by growing the community fund through marketing / sharing of <span style="color:coral"><a href="/">TRON 3X</a></span>.</p>
                    <br><a href="/" @click.prevent="tab = 'main'">Back</a>
               </div>
          </section>
          <section class="section" v-show="tab == 'tutorial'">
               <div class="page">
                    <a class="back-btn" href="index.html" @click.prevent="tab = 'main'">< Back</a>
                    <center><h3>HOW TO JOIN</h3></center>
                    <p>To join <a href="/">TRON 3X</a> you need to use one of the following Dapp wallets.</p>
                    <p>To connect with the smart contract, please download, set up, and fund your preferred wallet from the instructions below.</p>
                    <p>*it is mandatory to use a referral link 1st time depositing to <a href="/">TRON 3X</a> smart contract, please get back to the person that introduced you to <a href="/">TRON 3X</a>.</p>
                    <p>PHONE WALLET -</p>
                    <p>TRON WALLET - download at offical site:<a href="https://www.tronwallet.me" target="_blank">https://www.tronwallet.me</a></p>
					<p>TRONWALLET is a secure p2p crypto wallet and exchange for TRON (TRX)</p>
                    <ol>
                         <li>Download and set up TRON WALLET to phone</li>
                         <li>Fund TRON wallet with TRX</li>
                         <li>Go to Dapp browser in wallet and enter the ref link</li>
                         <li>select amount to deposit and click join</li>
                    </ol>
                    <hr />
                    <p>TRONLINK Wallet - PC BROWSER EXTENSION</p>
                    <p>What is TRONLINK?</p>
                    <p>TRONLINK is Available as a browser extension and as a mobile app, TronLink equips you with a key
                         vault, secure login, and token wallet&mdash;everything you need to manage your digital assets.
                    </p>
                    <p>TronLink generates passwords and keys on your device, so only you have access to your accounts
                         and data</p>
                    <p>How download TRONLINK browser extension?</p>
                    <p>Official website:&nbsp;<a href="https://www.tronlink.org/" target="_blank"
                              rel="nofollow noopener noreferrer">https://www.tronlink.org/</a></p>
                    <p>How to connect TRONLINK to <a href="/">TRON 3X</a> smart contract?</p>
                    <p>Open Web browser with TronLink download<br />Enter&nbsp;<a href="index.html" target="_blank"
                              rel="nofollow noopener noreferrer">TRON3X.IO</a> (ref link) an click
                         enter<br />Allow TRONLINK wallet to connect to&nbsp;<a href="index.html" target="_blank"
                              rel="nofollow noopener noreferrer">TRON3X.IO</a></p>
                    <p>*first time joining <a href="/">TRON 3X</a>, follow these steps</p>
                    <p>copy ref link from sponsor<br />enter ref link into your pc browser with TRONLINK
                         extension<br />Select the amount you wish to deposit up to 100000 TRX<br />Click join and
                         confirm transaction in wallet</p><br /><a href="index.html"
                         @click.prevent="tab = 'main'">Back</a>
               </div>
          </section>
          <section class="section" v-show="tab == 'top'">
               <div class="container" style="background:rgba(73, 202, 228,0.3);">
                    <a class="back-btn" href="index.html" @click.prevent="tab = 'main'">< Back</a>
                    <div class="panel-info">
                         <h3>Top 4 sponsors</h3>
                         <div>
                              <table style="text-transform:none; font-size:13px; line-height:2.5; width:100%;">
                                   <thead>
                                        <tr>
                                             <th width="60%">Address</th>
                                             <th width="20%">TRX</th>
                                             <th width="20%">Income</th>
                                        </tr>
                                   </thead>
                                   <tbody>
                                        <tr v-for="(v, index) in pool_top">
                                             <td v-text="v.address.substr(0, 15) + '..'"></td>
                                             <td v-text="v.deposit"></td>
                                             <td
                                                  v-text="(contract.pool_balance / 1000 * [40,30,20,10][index]).toFixed(4)">
                                             </td>
                                        </tr>
                                   </tbody>
                              </table><br />
                              <div class="panel-info-item"><a class="btn" href="#"
                                        @click.prevent="tab = 'main'">Back</a></div>
                         </div>
                    </div>
               </div>
          </section>
          <section id="join" class="section calc bg-hidden" v-show="tab == 'main'" style="background-image:url(images/bg_23.png);">
           <div class="container" style="padding-bottom:20px;">
                <h2 class="join">Join</h2>
                <div class="panel-join">
                     <div class="panel-join-display"><span>{{ deposit_amount.toFixed(0) }}</span><span>TRX</span>
                     </div>
                     <div class="panel-join-values"><a href="#" @click.prevent="deposit_amount += 100">+ 100
                               TRX</a><a href="#" @click.prevent="deposit_amount += 1000">+ 1K TRX</a><a href="#"
                               @click.prevent="deposit_amount += 10000">+ 10K TRX</a><a href="#"
                               @click.prevent="deposit_amount += 30000">+ 30K TRX</a><a href="#"
                               @click.prevent="deposit_amount += 50000">+ 50K TRX</a><a href="#"
                               @click.prevent="deposit_amount += 100000">+ 100K TRX</a></div>
                     <div class="panel-join-controls"><button class="button" @click="deposit_amount = 0">
                               <div class="button-content">Reset</div>                               
                          </button><button class="button" @click="deposit()">
                               <div class="button-content">Join</div>
                          </button></div>
                </div>
                <p>to join the project you need to use<br />the Tron wallet. <a href="guide/index.html"
                          @click.prevent="tab = 'guide'">read more</a></p>
           </div>
          </section>
          
          <section class="section bg-shade" v-show="tab == 'main'" style="background-image:url(images/bg_19.jpg);">
           <div class="container">
                <h2 style="color:#F6F9FC">statistics</h2>
                <div id="contract" class="panel-info">
                     <h3>Smart contract info</h3>
                     <div class="sub row" style="margin-top:20px;">
                          <div class="col-md-4">
                               <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Smart contract address</span><a
                                    :href="'https://tronscan.org/#/contract/' + contract_address"
                                    :title="contract_address" :alt="contract_address" target="_blank">{{ contract_address.substr(0, 15) }}...</a>
                               </div>
                          </div>
                          <div class="col-md-4">
                               <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Total TRX deposits all time</span><span
                                         class="ether-value">{{ safe(contract.total_deposited.toLocaleString()) }}
                                         TRX</span>
                               </div>
                          </div>
                          <div class="col-md-4">
                               <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Smart contract balance</span><span
                                    class="ether-value">{{ safe(contract.balance.toLocaleString()) }} TRX</span>
                          </div>
                          </div>
                          <div class="col-md-4">
                               <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Amount withdrawn by members</span><span
                                    class="ether-value">{{ safe(contract.total_withdraw.toLocaleString()) }}
                                    TRX</span></div>
                          </div>
                          <div class="col-md-4">
                               <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Amount in the daily pool</span><span
                                    class="ether-value">{{ safe(contract.pool_balance.toLocaleString()) }}
                                    TRX</span></div>
                          </div>
                          <div class="col-md-4">
                               <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Draw daily pool through</span><span class="ether-value"
                                    v-timer="contract.pool_last_draw * 1000">00:00:00</span></div>
                          </div>
                          <div class="col-md-6">
                               <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Maximum amount from top referrer</span><span
                                    class="ether-value">{{ safe(contract.pool_lider.toLocaleString()) }} TRX</span>
                               </div>
                          </div>
                          <div class="col-md-6">
                               <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Referred by</span><a
                                    v-if="tron.account && (user.upline || upline)"
                                    :href="'https://tronscan.org/#/address/' + (user.upline || upline)"
                                    target="_blank">{{ (user.upline || upline) }}</a><span
                                    class="ether-value" v-if="!(tron.account && (user.upline || upline))">---</span>
                          </div>
                          </div>
                     </div>
                </div>
                <div id="Personal" class="panel-info">
                     <h3>Personal statistic</h3>
                     <div class="row" style="margin-top:20px;">
                          <div class="col-md-3">
                               <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Your address</span><a v-if="tron.account"
                                    :href="'https://tronscan.org/#/address/' + tron.account" :title="tron.account" :alt="tron.account"
                                    target="_blank">{{ tron.account.substr(0, 15) }}...</a><span v-if="!tron.account"
                                    class="ether-value">---</span></div>
                          </div>
                          <div class="col-md-3">
                               <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Next income countdown</span><span class="ether-value"
                                    v-timer="user.deposit_time * 1000">00:00:00</span></div>
                          </div>
                          <div class="col-md-3">
                               <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">300% income limit remain</span><span
                                    class="ether-value">{{ safe(Math.max(0, (user.deposit_amount * 3 - user.payouts)).toLocaleString()) }}
                                    TRX</span></div>
                          </div>
                          <div class="col-md-3">
                               <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Daily income 2%</span><span
                                    class="ether-value">{{ safe(user.payout.toLocaleString()) }} TRX</span></div>
                          </div>
                          <div class="col-md-3">
                               <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Direct referral income</span><span
                                    class="ether-value">{{ safe(user.direct_bonus.toLocaleString()) }} TRX</span>
                               </div>
                          </div>
                          <div class="col-md-3">
                               <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Matching bonus</span><span
                                    class="ether-value">{{ safe(user.match_bonus.toLocaleString()) }} TRX</span>
                               </div>
                          </div>
                          <div class="col-md-3">
                               <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">TOP Sponsor rewards</span><span
                                    class="ether-value">{{ safe(user.pool_bonus.toLocaleString()) }} TRX</span>
                               </div>
                          </div>
                          <div class="col-md-3">
                               <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Income withdrawn</span><span
                                    class="ether-value">{{ safe(user.payouts.toLocaleString()) }} TRX</span></div>
                          </div>
                          <div class="col-md-3">
                               <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Unwithdrawn income</span><span
                                    class="ether-value">{{ safe((user.payout + user.direct_bonus + user.match_bonus + user.pool_bonus).toLocaleString()) }}
                                    TRX</span></div>
                          </div>
                          <div class="col-md-3">
                               <div class="withdraw"><a class="btn" href="#" @click.prevent="withdraw()" style="font-size:23px;padding:20px">💵 Withdraw</a></div>
                          </div>
                     </div>
                </div>
                <div class="row">
                     <div class="col-md-12">
                          <div id="Statistics" class="panel-info">
                               <h3>Statistics</h3>
                               <div class="row" style="margin-top:30px;">
                                    <div class="col-md-6">
                                         <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Total amount of deposited TRX</span><span
                                              class="ether-value" v-text="safe(user.total_deposits.toLocaleString())"></span>
                                         </div>
                                    </div>
                                    <div class="col-md-6">
                                         <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Total amount of received TRX</span><span
                                              class="ether-value" v-text="safe(user.total_payouts.toLocaleString())"></span>
                                         </div>
                                    </div>
                               </div>
                          </div>
                     </div>
                     <div class="col-md-12">
                          <div id="organization" class="panel-info">
                               <h3>Organization</h3>
                               <div class="row" style="margin-top:30px;">
                                    <div class="col-md-6">
                                         <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Invitation link</span><a class="btn"
                                              v-if="tron.account" :href="location.origin + '#ref=' + tron.account"
                                              target="_blank"
                                              @click.prevent="copyText('https://tron3x.io/#ref=' + tron.account)">Copy</a><span
                                              class="ether-value" v-if="!tron.account">---</span>
                                         </div>
                                    </div>
                                    <div class="col-md-6">
                                         <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Personal invited partners</span><span
                                              class="ether-value" v-text="safe(user.referrals)"></span>
                                         </div>
                                    </div>
                                    <div class="col-md-6">
                                         <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Total number of partners</span><span
                                              class="ether-value" v-text="safe(user.total_structure)"></span>
                                         </div>
                                    </div>
                                    <div class="col-md-6">
                                         <div class="panel-info-item" style="background: #F6F9FC;"><span class="sthead">Total community participants</span><span
                                              class="ether-value" v-text="safe(contract.total_users)">?</span>
                                         </div>
                                    </div>                                    
                               </div>
                          </div>
                     </div>
                </div>
           </div>
          </section>
          <div class="i-modal" v-if="upmodal.show">
               <div class="i-modal__wrap">
                    <div class="i-modal__close" @click="upmodal.show = false"></div>
                    <div class="i-modal__body">
                         <div class="i-modal__title">Sponsor</div>
                         <div class="i-modal__text">
                              <div v-if="upmodal.edit"><input type="text"
                                        style="color:#000; padding:5px 10px; font:14px; border:1px solid #ccc; max-width:100%;"
                                        size="50" v-model="upmodal.upline_edit"><br /></div>
                              <div v-if="!upmodal.edit" style="text-transform:none"><span
                                        class="addr">{{ upmodal.upline }} &nbsp;&nbsp;&nbsp; </span><a
                                        href="javascript:void()" @click="upmodal.edit = true">Edit</a></div>
                              <br /><button
                                   @click="/^T[1-9A-HJ-NP-Za-km-z]{33}$/i.test(upmodal.upline_edit ? upmodal.upline_edit : upmodal.upline) ? (!(upmodal.show = false) && deposit(upmodal.upline_edit ? upmodal.upline_edit : upmodal.upline)) : null">Join</button><br /><br />
                              <p style="text-transform:none">Check your invitation ID. <br /> You can change it before proceeding with deposit.</p>
                         </div>
                    </div>
               </div>
          </div>                    
     </main>
     <!-- Footer -->
     <footer class="footer footer-light bg-white">
          <div class="container text-center">
     
          <div class="d-flex justify-content-center mt-6 footer-social">
               <a href="https://t.me/Tron3XGlobalCommunity" target="_blank" class="hover-lift-light text-decoration-none mx-2">
                    <span class="icon-circle footer-social-icon">
                    <i class="fab fa-telegram fa-lg"></i>
                    </span>
               </a>
               <a href="https://twitter.com/tron3xoffice" target="_blank" class="hover-lift-light text-decoration-none mx-2">
                    <span class="icon-circle footer-social-icon">
                    <i class="fab fa-twitter fa-lg"></i>
                    </span>
               </a>
               <a href="https://www.facebook.com/Tron3x-119198366590923" target="_blank" class="hover-lift-light text-decoration-none mx-2">
                    <span class="icon-circle footer-social-icon">
                    <i class="fab fa-facebook-square fa-lg"></i>
                    </span>
               </a>
               <a href="https://www.youtube.com/channel/UC03VFknsNFph01v5OO5LASQ" target="_blank" class="hover-lift-light text-decoration-none mx-2">
                    <span class="icon-circle footer-social-icon">
                    <i class="fab fa-youtube fa-lg"></i>
                    </span>
               </a>
               <a href="https://Instagram.com/tron3xoffice" target="_blank" class="hover-lift-light text-decoration-none mx-2">
                    <span class="icon-circle footer-social-icon">
                    <i class="fab fa-instagram fa-lg"></i>
                    </span>
               </a>
          </div>
     
          <div class="mt-6">
          <p class="footer-text mb-2">
               All rights reserved © 2020
          </p>         
          </div>
          <div class="mt-6">
          <div class="footer-brand" style="font-size:20px; font-weight:600;color:#1e2e50;">
               <a href="index.html">
                    <img class="top-heading" src="images/logo-black.png" style="height:5vh;">
               </a>
          </div>
          </div>
          </div>
     </footer>

     <script src="scripts/cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
     <script src="scripts/odometer.min.js"></script>
     
     <script src="scripts/common3b7d.js?835"></script>
     <script type="text/javascript">
     const navSlide = () => {
          const burger = document.querySelector(`.nav-toggle`);
          const nav = document.querySelector(`.nav-links`);
          const close = document.querySelector(`.cross`);
          
          burger.addEventListener(`click`,()=>{
               nav.classList.add(`opened`);
          })
          close.addEventListener(`click`,()=>{
               nav.classList.remove(`opened`);
          })     
     }
     navSlide();
     </script>	 
     <script>
          document.querySelectorAll('a[href^="#"]').forEach(anchor => {
          anchor.addEventListener('click', function (e) {
               e.preventDefault();

               document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
               });
          });
          });
     </script>
</body>
</html>